<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="TestNG Test Automation Suite" verbose="1" >
  <test name="Different TestNG Fecture Test" >
  
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="email" value="shesingh@gmail.com"></parameter>
  <parameter name="url" value="http://www.gmail.com"></parameter>
    
    <classes>
           <class name="testNBTesing.DDTestusingExcel" />
           <methods>
				<include name="testMakeOrder" />
				<include name="testUpdateOrder" />
				<!-- 
					<exclude name="testMakeOrder" />
				 -->
			</methods>
 
    </classes>
  </test>
 
  </suite>

  
  
  <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

  <test name="database">
	<groups>
		<run>
			<exclude name="brokenTests" />
			<include name="db" />
		</run>
	</groups>
  
	<classes>
		<class name="com.mkyong.testng.examples.suite.TestDatabase" />
	</classes>
  </test>
 
</suite>