<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteParameterTest">

  <test name="Test">
  		<parameter name="MyName" value="Automation"></parameter>
  	<!--  <parameter name="MyName2" value="AutomationTest"></parameter> -->
     
  <classes>
  		<class name="testNGTesing.TestNGParametersDemo"></class>
  </classes>
  
  </test> <!-- Test -->
</suite> <!-- SuiteParameterTest -->
